<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="LayoutPadrao">

<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"	/>	
	</head>
	
	<section layout:fragment="header">

		<div class="panel panel-default" style="margin: 10px">
			<div class="panel-heading">
				<h1 class="panel-title">Lista de Agendas</h1>
			</div>
			<div class="panel-body">
				<form class="form-inline" method="POST" 
					th:object="${agenda}" th:action="@{/agendas}"
						style="margin: 20px 0">
					<div class="form-group">
						<input type="hidden" th:field="*{id}">
						<input type="text" class="form-control" placeholder="Nome"
							th:field="*{nome}" />
						<input type="text" class="form-control" placeholder="Descrição"
							th:field="*{descricao}" /> 
						<button type="submit" class="btn btn-primary">Adicionar</button>
					</div>
				</form>
			
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Nome</th>
							<th>Descrição</th>
							<th colspan=2> Ação </th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="agenda : ${agendas}">
							<td th:text="${agenda.id}"></td>
							<td th:text="${agenda.nome}"></td>
							<td th:text="${agenda.descricao}"></td>
							<td>
								<a th:href="@{/agendas/alterar/}+${agenda.id}" class="glyphicon glyphicon-pencil"> Alterar</a></td>
							<td>
								<a th:href="@{/agendas/excluir/}+${agenda.id}" class="glyphicon glyphicon-trash">Excluir </a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</section>
</html>	